body {
  background: rgb(245, 245, 245);
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
  padding: 10vh 5vw;
}

.chatbar {
  background: linear-gradient(to left, #c2ede9, #afe4e0, #AAE3DE);
  border-top: 1px solid #AAE3DE;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid #AAE3DE;
  border-radius: 6px;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 10px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
  border-bottom: 0;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
  word-break: keep-all;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: linear-gradient(to left, #c2ede9, #afe4e0, #AAE3DE);
  border-bottom: 1px solid #AAE3DE;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.navbar-onlineUsers {
  float: right;
  line-height: 60px;
  padding: 0 10px;
  margin: 0;
  font-size: 18px;
}

.chat-image {
  display: block;
  max-width: 50vw;
  max-height: 40vw;
  margin: 3px 0 3px;
}